*{
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 0px;
    margin: 0px;
}

h1{
    color: #7e8100;
    margin: 20px;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
}
main {
    padding: 20px;
    padding-top: 10px;
}

.navbar{
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a button{
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.navbar a button i {
    color: hsl(51, 100%, 50%);
}


.navbar a button:hover i{
    color: hsl(49, 100%, 50%);
    transform: scale(1.1);
}

.navbar button div {
    font-family: Arial, sans-serif;
    color: hsl(0, 0%, 100%);
    display: inline;
    margin-left: 10px;
}

.navbar button:hover div{
    scale: 1;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
    background-color: #333;
    position: relative;
    bottom: 0px;
    padding: 10px;  
}

footer > p > a {
    color: #ffffff;
    text-decoration: none;
}